*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    height: 100vh;

    display: flex;
    flex-direction: column;
}

header{
    height: 10%;
    padding: 1rem 1.5rem;
    display: flex;

    align-items: center;
    gap: 2rem;
}

main{
    height: 90%;
    display: flex;
}

#projects{
    width: 35%;
}
#toDoLists{
    width: 65%;
}

.static-gif{
    position: absolute;
    background: white;
}

.static-gif:hover{
    opacity: 0;
}